* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  background-color: #f4f6ff;
}

.container {
  background-color: rgb(255, 255, 255);
  padding: 35px 25px 35px 25px;
  width: 350px;
  border-radius: 35px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.display {
  width: 100%;
  height: 70px;
  background-color: #2888fd;
  color: white;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 7px 25px 7px 25px;
  border-radius: 35px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.buttons {
  margin-top: 30px;
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

button {
  font-size: 25px;
  font-weight: bold;
  flex-basis: calc((100% - 21px) / 4);
  aspect-ratio: 1;
  border-radius: 35px;
  border: none;
  color: #5b637f;
  background-color: #d7dcef;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.1s,
    box-shadow 0.1s,
    filter 0.2s;
}

[data-type="operator"],
.equals {
  font-size: 35px;
  color: white;
}

.clear {
  color: white;
  background-color: rgb(229 38 38);
}

.equals {
  background-color: #3d57d1;
}

.delete {
  color: #ffffff;
  background-color: #acb0c1;
}

[data-value="^"] {
  background-color: rgb(123, 123, 245);
}

[data-value="/"] {
  background-color: rgb(70, 202, 255);
}

[data-value="*"] {
  background-color: #fec718;
  font-size: 25px;
}

[data-value="-"] {
  background-color: rgb(255, 102, 168);
}

[data-value="+"] {
  background-color: #01b322;
}

button:hover {
  filter: brightness(1.1);
}

button:active {
  transform: translateY(3px);
  box-shadow: none;
}
